<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>
            Node.js es un entorno de ejecución de JavaScript del lado del servidor conocido por su rendimiento rápido y
            eficiente. Permite construir aplicaciones web y servidores de red escalables y de alto rendimiento. Su
            arquitectura basada en eventos y su amplio ecosistema de herramientas lo hacen popular entre los
            desarrolladores para aplicaciones en tiempo real y de baja latencia.</p>
    </div>
</div>