<div class="card card-body p-5 mt-4">
    <h1 class="display-4">Notes App and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus repellendus a dolorem magnam
        veritatis cumque magni, officia rerum vel voluptas minima, atque hic nemo quo quia sint illo alias quaerat.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nobis quae culpa a quod voluptate labore, omnis
        amet veniam quos accusantium porro voluptatem nihil minima voluptates voluptas delectus vitae qui.</p>
    <a href="#" class="btn btn-primary btn-lg" role="button">Proyecto</a>
</div>